[*.cs]

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1027: Use tabs correctly
dotnet_diagnostic.SA1027.severity = silent

# SA1137: Elements should have the same indentation
dotnet_diagnostic.SA1137.severity = silent

# SA1400: Access modifier should be declared
dotnet_diagnostic.SA1400.severity = silent

# SA1313: Parameter names should begin with lower-case letter
dotnet_diagnostic.SA1313.severity = silent

# SA1312: Variable names should begin with lower-case letter
dotnet_diagnostic.SA1312.severity = silent

# CS1591: O comentário XML ausente não foi encontrado para o tipo ou membro visível publicamente
dotnet_diagnostic.CS1591.severity = silent
